[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.1"
django-tables2 = "*"
gunicorn = "==19.9.0"
whitenoise = "*"
django-heroku = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-crispy-forms = "*"
django-floppyforms = "*"

[requires]
python_version = "3.8"
